extends layout

block variables
    - const bodyClass = 'about-body'
    
block content
    .container-fluid.about-container
        .row
            .col-12.col-md-12.col-lg-4
                h3 Hi I am Kostas. I was born in 
                    span Athens 
                    | at the dawn of the 
                    i 'glorious' 
                    | 80s. The last decade I am living in
                    span  Berlin.
        
            .col-12.col-md-6.col-lg-4
                p I have studied '3D Animation &amp; Multimedia Productions' in 'AKTO Art &amp; Design School of Athens' and graduated with the Bachelor of Arts. Completing also an Illustrator and InDesign module in Berlin, gave me the opportunity to become an Adobe Certified Associate. Currently I am studying web development and learning all the techy stuff from HTML and CSS to Javascript.

            .col-12.col-md-6.col-lg-4

                p Since a very young age I like drawing. I use traditional tools like different kinds of pens, brushes and pencils. My drawings are portraying figures from fantasy or reality and are mostly monochromatic.

    .container-fluid.skills-container
        .row
            .col-12.col-md-6.col-lg-6
                h3 Skills

                ul
                    li HTML
                    li CSS
                    li JavaScript
                    li Adobe Illustrator (Adobe Certified Associate)
                    li Adobe InDesign (Adobe Certified Associate)
                    li Adobe Photoshop
                    li Adobe After Effects
                    li Adobe Premiere
                    li 3ds Max
                    li Cinema 4d
                    li Avid Media Composer
                    li Apple Final Cut Pro
                    li Apple Logic Pro
                    li Ableton Live!
                    li Cubase SX

            .col-12.col-md-6.col-lg-6

                h3 Awards

                .awards
                    a(
                        href='http://www.greekanimation.com/movies/incongruous-tendency/', 
                        target='blank'
                    ) Athens Animfest 2009 (1st Prize, Best Short Film)
                

    .container-fluid.text-right.social-icons
        a(
            href='https://www.linkedin.com/in/kostasdegaitas/',
            target='blank',
            aria-hidden='true'
        )
            .fa.fa-linkedin-square.fa-2x

        a(
            href='https://www.behance.net/kostasdegaitas',
            target='blank',
            aria-hidden='true'
        ) 
            .fa.fa-behance.fa-2x

        a(
            href='https://www.instagram.com/D3ga_k/',
            target='blank',
            aria-hidden='true'
        ) 
          .fa.fa-instagram.fa-2x
        