extends layout

block content
    .jumbotron-fluid.text-center
        .container-fluid.background-image
        h1.hello Hi, I am 
            span Kostas
        p a 
            span berlin 
            | based junior developer

        svg.icon-arrow-down.align-self-center(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.5 25.2")
            polygon(points="22.9,24.8 0.7,3.9 4,0.4 22.9,18.2 41.5,0.4 44.8,3.8")

    .container.about-container
        .row
            .col-12.col-md-12.col-lg-4
                h3 Hi I am Kostas. I was born in 
                    span Athens 
                    | at the dawn of the 
                    i 'glorious' 
                    | 80s. The last decade I am living in
                    span  Berlin.
        
            .col-12.col-md-6.col-lg-4
                p I have studied '3D Animation &amp; Multimedia Productions' in 'AKTO Art &amp; Design School of Athens' and graduated with the Bachelor of Arts. Completing also an Illustrator and InDesign module in Berlin, gave me the opportunity to become an Adobe Certified Associate. 
                
            .col-12.col-md-6.col-lg-4
                p Currently I am studying web development in DCI School, Berlin. I am learning to build web applications, by using all the latest technologies.

    .container.skills-container
        .row
            .col-12.col-md-6.col-lg-6
                h3.title Skills

                ul
                    li HTML
                    li CSS
                    li SCSS
                    li JavaScript
                    li Bootstrap
                    li NodeJS
                    li MongoDB
                    li Adobe Illustrator (Adobe Certified Associate)
                    li Adobe InDesign (Adobe Certified Associate)

            .col-12.col-md-6.col-lg-6
                ul
                    li Adobe Photoshop
                    li Adobe After Effects
                    li Adobe Premiere
                    li 3ds Max
                    li Cinema 4d
                    li Avid Media Composer
                    li Apple Final Cut Pro
                    li Apple Logic Pro
                    li Ableton Live!
                    li Cubase SX
                
    .container.projects-container
        .row
            .col-12
                h3.title.text-left Projects
            .col-12.col-md-4.col-lg-3.album-item
                img.img-thumbnail(src="/images/thumbnail_marvel.jpg")
                a.album-item-hover(href="https://d3ga.github.io/marvel-api/" target="_blank")
                    i.fa.fa-plus-square-o.fa2x(aria-hidden="true")
            .col-12.col-md-4.col-lg-3.album-item
                img.img-thumbnail(src="/images/thumbnail_marvel.jpg")
                a.album-item-hover(href="https://d3ga.github.io/marvel-api/" target="_blank")
                    i.fa.fa-plus-square-o.fa2x(aria-hidden="true")
            .col-12.col-md-4.col-lg-3.album-item
                img.img-thumbnail(src="/images/thumbnail_marvel.jpg")
                a.album-item-hover(href="https://d3ga.github.io/marvel-api/" target="_blank")
                    i.fa.fa-plus-square-o.fa2x(aria-hidden="true")
            .col-12.col-md-4.col-lg-3.album-item
                img.img-thumbnail(src="/images/thumbnail_marvel.jpg")
                a.album-item-hover(href="https://d3ga.github.io/marvel-api/" target="_blank")
                    i.fa.fa-plus-square-o.fa2x(aria-hidden="true")
        
    .container.contact-container
        .row
            .col-12
                h3.title.text-left Contact
            .contact-background.mx-auto
                .col-xs-12.col-md-12.col-lg-12
                    form.form
                        .form-group
                            label(
                                for='inputname'
                                ) Name 
                            input(
                                type='text',
                                class='form-control',
                                id='name',
                                placeholder='your name here'
                                ) 
                        
                        .form-group
                            label(
                                for='email'
                                ) Email 
                            input(
                                type='email',
                                class='form-control',
                                id='email'
                                placeholder='your@email.com'
                                ) 
                        
                        .form-group
                            textarea(
                                class='form-control',
                                rows='5'
                                )

                        .form-group.text-center
                            button.btn.btn-outline-light(
                                type='submit'
                            ) Send
            
    .container-fluid.text-center.social-icons-container
        a(
            href='https://github.com/d3ga',
            target='blank',
            aria-hidden='true'
        )
            .fa.fa-github.fa-2x
        a(
            href='https://www.linkedin.com/in/kostasdega/',
            target='blank',
            aria-hidden='true'
        )
            .fa.fa-linkedin-square.fa-2x
        a(
            href='https://www.behance.net/kostasdegaitas',
            target='blank',
            aria-hidden='true'
        ) 
            .fa.fa-behance.fa-2x
